.section {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  position: fixed;
  width: 300px;
  height: 100%;
  background: #03A9F4;
  box-shadow: 1px 2px 3px #cccccc; }
  .section button {
    background: #ffffff;
    min-width: 60px;
    height: 35px;
    margin: 5px;
    border: 1px solid #cccccc;
    color: #666666; }
  .section .scale-big .scale-small .skew-l .skew-r .rotate-90 .grow-rotate-l .translate-l .translate-b .border {
    transition: all .4s; }
  .section .scale-big:hover {
    transform: scale(1.2); }
  .section .scale-small:hover {
    transform: scale(0.9); }
  .section .skew-l:hover {
    transform: skew(-15deg); }
  .section .skew-r:hover {
    transform: skew(15deg); }
  .section .rotate-90:hover {
    transform: rotate(90deg); }
  .section .grow-rotate-l:hover {
    transform: scale(1.1) rotate(4deg); }
  .section .translate-l:hover {
    transform: translate3d(-10px, 0, 0); }
  .section .translate-b:hover {
    transform: translate3d(0, 10px, 0); }
  .section .border:hover {
    box-shadow: 0 0 0 4px #ffff00, 0 0 1px transparent; }
  .section .ech-fade, .section .ech-fade-t, .section .ech-fade-b, .section .ech-fade-l, .section .ech-fade-r, .section .ech-fade-c-in, .section .ech-fade-m-in, .section .ech-fade-m-out, .section .ech-fade-c-out, .section .ech-bounce-t, .section .ech-bounce-b, .section .ech-bounce-r, .section .ech-bounce-l {
    position: relative;
    transition: all .3s;
    z-index: 1; }
  .section .ech-fade:before, .section .ech-fade-t:before, .section .ech-fade-b:before, .section .ech-fade-l:before, .section .ech-fade-r:before, .section .ech-fade-c-in:before, .section .ech-fade-m-in:before, .section .ech-fade-m-out:before, .section .ech-fade-c-in:after, .section .ech-fade-m-in:after, .section .ech-fade-c-out:before {
    position: absolute;
    transition: all .3s;
    content: "";
    display: block;
    background: #09f;
    z-index: -1;
    width: 100%;
    height: 100%; }
  .section .ech-bounce-t:before, .section .ech-bounce-b:before, .section .ech-bounce-r:before, .section .ech-bounce-l:before {
    transition: all .3s;
    transition-timing-function: cubic-bezier(0.52, 1.7, 0.5, 0.4);
    position: absolute;
    content: "";
    display: block;
    background: #09f;
    z-index: -1;
    width: 100%;
    height: 100%; }
  .section .ech-fade:before {
    top: 0;
    left: 0;
    transform: scaleX(1);
    opacity: 0; }
  .section .ech-fade:hover:before {
    opacity: 1; }
  .section .ech-fade-l:before, .section .ech-bounce-l:before {
    top: 0;
    right: 0;
    transform-origin: 0 50%;
    transform: scaleX(0); }
  .section .ech-fade-r:before, .section .ech-bounce-r:before {
    top: 0;
    left: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0); }
  .section .ech-fade-t:before, .section .ech-bounce-t:before {
    bottom: 0;
    left: 0;
    transform-origin: 50% 0;
    transform: scaleY(0); }
  .section .ech-fade-b:before, .section .ech-bounce-b:before {
    top: 0;
    left: 0;
    transform-origin: 50% 100%;
    transform: scaleY(0); }
  .section .ech-fade-m-out:before {
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scaleY(0); }
  .section .ech-fade-c-out:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: scaleX(0); }
  .section .ech-fade-c-out:hover:before {
    transform: scaleX(1); }
  .section .ech-fade-c-in:before {
    top: 0;
    left: 0;
    transform-origin: 0 50%;
    transform: scaleX(0); }
  .section .ech-fade-c-in:after {
    top: 0;
    right: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0); }
  .section .ech-fade-m-in:before {
    top: 0;
    left: 0;
    transform-origin: 50% 0;
    transform: scaleY(0); }
  .section .ech-fade-m-in:after {
    bottom: 0;
    left: 0;
    transform-origin: 50% 100%;
    transform: scaleY(0); }
  .section .ech-fade:hover, .section .ech-fade-t:hover, .section .ech-fade-b:hover, .section .ech-fade-l:hover, .section .ech-fade-r:hover, .section .ech-fade-c-in:hover, .section .ech-fade-m-in:hover, .section .ech-fade-m-out:hover, .section .ech-fade-c-out:hover, .section .ech-bounce-t:hover, .section .ech-bounce-b:hover, .section .ech-bounce-r:hover, .section .ech-bounce-l:hover {
    color: #fff; }
  .section .ech-fade-m-in:hover:before, .section .ech-fade-m-in:hover:after {
    transform: scaleY(0.51); }
  .section .ech-fade-t:hover:before, .section .ech-fade-b:hover:before, .section .ech-fade-m-out:hover:before, .section .ech-bounce-b:hover:before, .section .ech-bounce-t:hover:before {
    transform: scaleY(1); }
  .section .ech-fade-c-in:hover:before, .section .ech-fade-c-in:hover:after {
    transform: scaleX(0.51); }
  .section .ech-fade-l:hover:before, .section .ech-fade-r:hover:before, .section .ech-fade-c-out:hover:before, .section .ech-bounce-l:hover:before, .section .ech-bounce-r:hover:before {
    transform: scaleX(1); }
  .section .flash:hover {
    animation: flash .5s ease; }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
  .section .shake-time:hover {
    animation: shake-time 1s ease; }
@keyframes shake-time {
  0% {
    transform: scale(1); }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg); }
  100% {
    transform: scale(1) rotate(0); } }
  .section .wobble-t {
    transform-origin: 0 100%; }
  .section .wobble-b {
    transform-origin: 100% 0; }
  .section .wobble-c:hover, .section .wobble-t:hover, .section .wobble-b:hover {
    animation: wobble-x 1s ease-in-out; }
@keyframes wobble-x {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }
  .section .swing:hover {
    animation: swing-anim .5s ease alternate; }
@keyframes swing-anim {
  20% {
    transform: rotate(15deg); }
  40% {
    transform: rotate(-10deg); }
  60% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0); } }
  .section .shake:hover {
    animation: shake .5s ease; }
@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }
  .section .bounce:hover {
    animation: bounce 0.5s ease; }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

/*# sourceMappingURL=section.css.map */
